@model IEnumerable<TAN.DVDCentral.BL.Models.Director>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="m-2">
    <a asp-action="Create">Create New</a>
</p>
<div>
    <partial name="_DirectorPartial" />
</div>
