@model IEnumerable<TAN.DVDCentral.BL.Models.OrderItem>

@{
    ViewData["Title"] = "List of Order Items";
}

<p class="m-2">
    <a asp-action="Create">Create New</a>
</p>

    <div class=m-2>
        <partial name="_OrderItemPartial" />
    </div>

